// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.polls2{
	text-align:center;
	letter-spacing: 2px;
	font-family: "Trebuchet MS", sans-serif;

}

h2{
	 font-family: 'Girassol', cursive;
	text-shadow: 2px 2px #615B8A;
}