
<p>
  <strong>Category:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Count:</strong>
  <%= @category.count %>
  
</p>

<%= link_to 'Back', categories_path %>
<br>
<%= link_to 'Edit', edit_category_path(@category) %> 
